{% extends 'lr1_oauth/base.html' %}
{% block title %}Авторизация{% endblock %}

{% block css %}
    <style>.error { color: darkred; }</style>
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="error">{{ error }}</div>
        <form action="{% url 'api:usual_login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="next" value="{{ next_goal }}">
            <button type="submit">Отправить</button>
        </form>
        <a href="{% url 'api:usual_register' %}">Регистрация</a>
    {% else %}
        <a href="{% url 'api:usual_logout' %}">Выйти</a>
    {% endif %}
{% endblock %}